*{
box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0; 
  background-color: #ccc;
}

.gridBoard{
  margin: 50px 50px;
  display: flex;  
  align-self: center;
  flex-wrap: wrap; 
  height: 100%;
  height: 500px;
  width: 500px;
  background-color: cornsilk;
  box-shadow: 0 0 30px 0 rgba(60, 11, 107, 0.2)
}
.gridBoard div{
  border: 1px solid black;
  height: 10%;
  width: 10%;
}

.frogStartPosition {
  background-color: chartreuse;
}

.frogHome {
  background-color: cornflowerblue;
}

.gridBoard.dorothy{
  color: burlywood;
}

#startFrogger{
  margin: 50px
}
.gridBoard div.frog {
  background-color: green;
}


.gridBoard div.carClass{
  background-color: sienna;
}

.gridBoard div.carClassTwo{
  background-color: rgb(230, 15, 15);
}

.gridBoard div.carClassThree{
  background-color: rgb(29, 15, 230);
}

.gridBoard div.logOneClass{
  width: 10%;
  border-radius: 1em;
  background-color: dimgray
  
}

.gridBoard div.logTwoClass{
  width: 10%;
  border-radius: 1em;
  background-color: dimgray
  
}

.gridBoard div.logThreeClass{
  width: 10%;
  border-radius: 1em;
  background-color: dimgray
  
}

.gridBoard div.logFourClass{
  width: 10%;
  border-radius: 1em;
  background-color: dimgray
  
}

